<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Write</title>
    <link rel="shortcut icon" href="../img/favicon.png" />
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/popUp.css">
  </head>
  <body>

    <%- include('./header.ejs') %>

  <main>
    <div class="banner">
      <img src="../img/livros1.jpg" id="img_banner">
    </div>

    <div class="categories">
      <h2>Categorias</h2>
      <div class="select_categories">
        <a href="/categoria/aventura/0"><button id="botao_genero" type="button"><span>Aventura</span><img src="../img/icon_aventura.svg"></button></a>
        <a href="/categoria/ficção/0"><button id="botao_genero" type="button"><span>Ficção</span><img src="../img/icon_ficcao.svg"></button></a>
        <a href="/categoria/infantil/0"><button id="botao_genero" type="button"><span>Infantil</span><img src="../img/icon_infantil.svg"></button></a>
        <a href="/categoria/biografia/0"><button id="botao_genero" type="button"><span>Biografia</span><img src="../img/icon_biografia.svg"></button></a>
        <a href="/categoria/literario/0"><button id="botao_genero" type="button"><span>Literario</span><img src="../img/icon_exatas.svg"></button></a>
        <a href="/categoria/ação/0"><button id="botao_genero" type="button"><span>Ação</span><img src="../img/icon_acao.svg"></button></a>
        <a href="/categoria/poesia/0"><button id="botao_genero" type="button"><span>Poesia</span><img src="../img/icon_poesia.svg"></button></a>
        <a href="/categoria/suspense/0"><button id="botao_genero" type="button"><span>Suspense</span><img src="../img/icon_suspense.svg"></button></a>
        <a href="/categoria/mistério/0"><button id="botao_genero" type="button"><span>Mistério</span><img src="../img/icon_misterio.svg"></button></a>
        <a href="/categoria/humanas/0"><button id="botao_genero" type="button"><span>Humanas</span><img src="../img/icon_humanas.svg"></button></a>
        <a href="/categoria/fantasia/0"><button id="botao_genero" type="button"><span>Fantasia</span><img src="../img/icon_fantasia.svg"></button></a>
        <a href="/categoria/romance/0"><button id="botao_genero" type="button"><span>Romance</span><img src="../img/icon_romance.svg"></button></a>
        <a href="/categoria/terror/0"><button id="botao_genero" type="button"><span>Terror</span><img src="../img/icon_terror.svg"></button></a>
        <a href="/categoria/espiritual/0"><button id="botao_genero" type="button"><span>Espiritual</span><img src="../img/icon_espiritual.svg"></button></a>
        <a href="/categoria/outras/0"><button id="botao_genero" type="button"><span>Outras</span><img src="../img/icon_outras.svg"></button></a>
      </div>
    </div>

    <div class="highlights">
      <h2>Livros mais recentes</h2>
      <div class="listaDestaque">
        <button class="botaoDestaque">
          <img src="../img/setaEsquerda.svg" alt="seta esquerda" />
        </button>

        <% listaDeLivros.forEach(function(element){%>
        <div class="listaDestaque_1">
          <img id="popUp" src="<%=element.imageRoute%>" alt="img" onclick="showModal('livro-' + <%=element.id%>)" />
        </div>
        <% }) %>

        <button class="botaoDestaque">
          <img src="../img/setadireita.svg" alt="seta direita" />
        </button>
      </div>
    </div>


    <div class="maisLidosNaSemana">
      <h2>Mais lidos da semana</h2>

      <!-- Inicio: livro grande -->
      <% element = listaDeLivrosMaisLidos[0]%>
      <div class="livroMaisLidoNaSemana1">
        <img src="<%=element.imageRoute%>" onclick="showModal('livro-' + <%=element.id%>)">
        <div class="info_livroMaisLidoNaSemana1">
          <div class="txt_livroMaisLidoNaSemana1">
            <h1><%=element.titulo%></h1><br>
            <h2><%=element.sinopse%></h2>
          </div>

          <!-- <div class="views_rating">
              <img id="views" src="../img/viewsIcon.svg">
              <h3>10K views</h3>
              <img id="rating" src="../img/ratingIcon.svg">
              <h3>9,6738</h3> -->
          </div>
        </div>
      </div>
      <!-- Fim: livro grande -->

      <!-- Inicio: livros pequenos -->

        <div class="boxLivrosMaisLidosNaSemana">
          <% listaDeLivrosMaisLidos.slice(1).forEach(function(element){%>
        <div class="LivroMaisLidoNaSemana2">
          <img src="<%=element.imageRoute%>" onclick="showModal('livro-' + <%=element.id%>)">
            <div class="txt_boxLivroMaisLidoNaSemana">
              <h2><%=element.titulo%></h2><br>
              <h3><%=element.sinopse%></h3>
            </div>

            <!-- <div class="views_rating">
                <img id="views" src="../img/viewsIcon.svg">
                <h3>10K views</h3>
                <img id="rating" src="../img/ratingIcon.svg">
                <h3>9,6738</h3> -->
          </div>
          <% }) %>
        </div>

      <!-- Fim: livros pequenos -->

    <div class="exploreLivrosNaComunidade">
      <h2>Explore livros na comunidade</h2>
      <div class="livros_comunidade">

        <div class="livro_comunidade"> <a href="#">
          <img src="../img/livro_comunidade1.svg"></a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
        <!--  <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div> -->
              <h3>Romance</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade2.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <!-- <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h4>
                </div>
              </div> -->
              <h3>Ação</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade3.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
             <!-- <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div> -->
              <h3>Aventura</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade4.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <!--<div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div> -->
              <h3>Terror</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade5.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
             <!-- <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div> -->
              <h3>Biografia</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade6.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
            <!--  <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div> -->
              <h3>Ficção</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade7.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
           <!--   <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div> -->
              <h3>Mistério</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade8.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
            <!--  <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div> -->
              <h3>Suspense</h3>
            </div>
          </div>
        </div>

      </div>
    </div>

<!-- Início do Modal  -->
<% listaDeLivros.forEach(function(element){%>
    <div class="modal" id="livro-<%=element.id%>">
      <div class="pop_up">
          <div class="capa">
              <img id="capa" src="<%=element.imageRoute%>">
          </div>
          <div class="info_livro">
              <div class="btnClose">
                  <img id="btn_close" src="../img/x.svg" onclick="closeModal('livro-' + <%=element.id%>)">
                  <h2><%=element.titulo%></h2>
              </div>
                  <button type="submit" id="send_library" name="send_library"><a href="/read/<%=element.id%>" style="text-decoration: none; color: white;">Enviar para biblioteca</a></button>
                  <h3><%=element.sinopse%></h3>
          </div>
      </div>
  </div>
  <% }) %>
<!-- Final do Modal  -->

  </main>
  <footer>
    <div class="naoEncontrou">
      <h2 id="text_naoEncontrou">Não encontrou o que procurava?</h2>
      <img class="naoEncontrou_img" src="../img/naoEncontrou.svg">
      <div id="naoEncontrou_pesquisa">
        <input type="text"/>
        <a id="naoEncontrou_lupa" href="#">
        <img src="../img/lupaNew.svg">
        </a>
      </div>
    </div>
  </footer>
<!-- MODAL -->

<script type="text/javascript" src="../javascripts/popUp.js"></script>


<!-- MODAL -->

</body>
</html>
